
html,body {
	height: 100%;
}

#wrapper {
	height: 100%;
	min-height: 100%;
	position: relative;
}

.content {
	margin: 0 auto;
}

.square{

		background-color: #a00;
		color:red;
		width: 250px;
		height: 250px;
		margin: 10px;

}

.row-flex {
	margin: 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.navbar-nav li:nth-last-child(1) {

	margin-right: 20px;

}

.portfolio-image {
	width: 250px;
	height: 250px;
	object-fit: cover;
}

footer {
	position: absolute;
	bottom: 0;
	height: 3rem;
}